{% extends "data_cart/base.html" %}
{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li class="active"><a href="">Home</a></li>
  <li><a href="/apps/data-cart/addfile">Add WaterML</a></li>
{% endblock %}

{% block app_content %}
  <h1>WaterML Test Data Files</h1>

  <table border="1" style="width:100%">
  <tr >
      <th >Name</th>
      <th>URL</th>
      <th>Size</th>
      <th>Run!</th>
  </tr>
    {%for file in file_info%}
  <tr class ="red">
      <td>{{file.name}}</td>
      <td><a href="{{file.uri}}">{{file.uri}}</a></td>
      <td>{{file.size}}</td>
      <td><a href="{{file.app}}">RUN!</a></td>
  </tr>
    {%endfor%}
</table>

{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}